<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>小视频</string>
		<key>viewController</key>
		<string>MBBaseViewController</string>
		<key>urlString</key>
		<string>headline/T1348647853363</string>
		<key>replyUrl</key>
		<string>3g_bbs</string>
	</dict>
	<dict>
		<key>title</key>
		<string>推荐</string>
		<key>viewController</key>
		<string>MBBaseViewController</string>
		<key>urlString</key>
		<string>list/T1348649145984</string>
		<key>replyUrl</key>
		<string>sports_nba_bbs</string>
	</dict>
	<dict>
		<key>title</key>
		<string>音乐</string>
		<key>viewController</key>
		<string>MBBaseViewController</string>
		<key>urlString</key>
		<string>list/T1348649654285</string>
		<key>replyUrl</key>
		<string>mobile_bbs</string>
	</dict>
	<dict>
		<key>title</key>
		<string>电台</string>
		<key>viewController</key>
		<string>MBBaseViewController</string>
		<key>urlString</key>
		<string>list/T1351233117091</string>
		<key>replyUrl</key>
		<string>mobile_bbs</string>
	</dict>
	<dict>
		<key>title</key>
		<string>才艺</string>
		<key>viewController</key>
		<string>MBBaseViewController</string>
		<key>urlString</key>
		<string>list/T1348648517839</string>
		<key>replyUrl</key>
		<string>auto_bbs</string>
	</dict>
	<dict>
		<key>title</key>
		<string>游戏</string>
		<key>viewController</key>
		<string>MBBaseViewController</string>
		<key>urlString</key>
		<string>list/T1348650593803</string>
		<key>replyUrl</key>
		<string>lady_bbs</string>
	</dict>
	<dict>
		<key>title</key>
		<string>同城</string>
		<key>viewController</key>
		<string>MBBaseViewController</string>
		<key>urlString</key>
		<string>list/T1348648650048</string>
		<key>replyUrl</key>
		<string>ent2_bbs</string>
	</dict>
	<dict>
		<key>title</key>
		<string>校园</string>
		<key>viewController</key>
		<string>MBBaseViewController</string>
		<key>urlString</key>
		<string>list/T1348649580692</string>
		<key>replyUrl</key>
		<string>tech_bbs</string>
	</dict>
	<dict>
		<key>title</key>
		<string>户外</string>
		<key>viewController</key>
		<string>MBBaseViewController</string>
		<key>urlString</key>
		<string>list/T1348649580692</string>
		<key>replyUrl</key>
		<string>tech_bbs</string>
	</dict>
</array>
</plist>
